<table class="table">
    <tr class="title" style="height: <%=fn.unit(titleHeight)%>;">
        <% columns.forEach(function(item){%>
        <td style="width: <%=fn.unit(item.width) %>; height: <%=fn.unit(titleHeight)%>; line-height: <%=fn.unit(titleHeight)%>;"><div class="text"><%=item.display %></div></td>
        <%})%>
    </tr>
        <%
        var loadCode = function(res, bool){%>
        <%res.forEach(function(item, index){%>
        <tr class="table-items" style="height: <%=fn.unit(rowHeight)%>;">
            <%columns.forEach(function(o, i){%>
            <%if(bool === true && item[o.name] == undefined) return;%>
            <%
                if(fn.getType(item[o.name]) == "object" && fn.getType(item[o.name].__rows__) == "number"){
                    item[o.name] = item[o.name].data;
                }
            %>
            <td class="<%if(index % 2 == 1){%>odd<%}%>" style="height: <%=fn.unit(rowHeight)%>; line-height: <%=fn.unit(rowHeight)%>; width: <%=fn.unit(o.width)%>; min-width: <%=fn.unit(o.minWidth)%>;">
                <%if(fn.getType(o.renderHTML) == "function"){%>
                <div data-field="<%=o.name%>" class="text<%if(o.itemAlign === "center"){%> center<%}else if(o.itemAlign === "right"){%> right<%}%>">##renderHTML[{name:"<%=o.name%>",cols:<%=i%>,index:<%=index%>]##</div>
                <%}else if(fn.getType(o.render) == "function" && o.color){%>
                <div data-field="<%=o.name%>" class="text<%if(o.itemAlign === "center"){%> center<%}else if(o.itemAlign === "right"){%> right<%}%>" style="color: <%=o.color%>">
                    <%if(fn.getType(o.render(item[o.name], item, index)) == "object"){%>
                    <%=o.render(item[o.name], item, index).text%>
                    <%}else{%>
                    <%=o.render(item[o.name], item, index)%>
                    <%}%>
                </div>
                <%}else if(fn.getType(o.render) == "function"){%>
                <%if(fn.getType(o.render(item[o.name], item, i)) == "object"){%>
                <div data-field="<%=o.name%>" class="text"<%if(o.render(item[o.name], item, index).color){%> style="color: <%=o.render(item[o.name], item, index).color %>"<%}%>>
                    <%=o.render(item[o.name], item, index).text%>
                </div>
                <%}else{%>
                <div data-field="<%=o.name%>" class="text<%if(o.itemAlign === "center"){%> center<%}else if(o.itemAlign === "right"){%> right<%}%>">
                    <%=o.render(item[o.name], item, index) %>
                </div>
                <%}%>
                <%}else{%>
                <div data-field="<%=o.name%>" class="text<%if(o.itemAlign === "center"){%> center<%}else if(o.itemAlign === "right"){%> right<%}%>"<%if(o.color){%> style="color: <%=o.color%>"<%}%>>
                    <%=item[o.name]%>
                </div>
                <%}%>
            </td>
            <%})%>
        </tr>
        <%})%>
        <%};loadCode(resourse);%>
    </table>
