<table class="table" node-name="table" style="width: <%=fn.unit(width)%>;">
    <%
    var groupName = fn.getType(dataGroup) == "object" ? dataGroup.name : "group";
    var loadCode = function(res, bool, curIndex){%>
    <%res.forEach(function(item, index){%>
    <%if(bool === true && index == 0){
        if(item.__rows__ > 1){
            loadCode(item[groupName], true, curIndex);
        }
        return;
    }%>
    <%
        var groupIndex = false;
        if(bool === true){
            index = curIndex;
        }else if(!dataGroup){
            item.__rows__ = 1;
        }
    %>
    <tr style="height: <%=parseInt(rowHeight) + "px"%>;" <%if(bool === true || fn.getType(item[groupName]) == "array"){%>node-name="rowSpan<%=index%>"<%}%> class="<%if(index % 2 == 1){%>odd<%}%><%if(item.__check__ === true){%> selected<%}%>" data-index="<%=index%>">
        <%if(bool !== true && order){%><td style="height: <%=parseInt(rowHeight) * item.__rows__ + "px"%>; line-height: <%=parseInt(rowHeight) * item.__rows__ + "px"%>;" rowspan="<%=item.__rows__ %>" class="order"><%=index+1+(curPage-1)*pageSize%></td><%}%>
        <%if(bool !== true && (selectType == "checkbox" || selectType == "radio")){%>
        <td style="height: <%=parseInt(rowHeight) * item.__rows__ + "px"%>; line-height: <%=parseInt(rowHeight) * item.__rows__ + "px"%>;" rowspan="<%=item.__rows__ %>" class="<%=selectType %><%if(selectStatus == "hide"){%> hide<%}%>">
            <label>
                <input name="grid_<%=selectType %>" type="<%=selectType %>" <%if(item.__check__ === true){%>checked="checked"<%}%> data-index="<%=index%>" <%if(bool === true || fn.getType(item[groupName]) == "array"){%>data-group="<%=index%>"<%}%> data-action="<%=selectType %>" node-name="checkbox"/>
                <i class="icon-checkbox _stopPropagation"></i>
            </label>
        </td>
        <%}%>
        <%columns.forEach(function(o, i){%>
        <%if(bool === true && item[o.name] == undefined) return;%>
        <%
            var rowSpan = item.__rows__;
            var isGroup = false;
            if(fn.getType(item[o.name]) == "object" && fn.getType(item[o.name].__rows__) == "number"){
                rowSpan = item[o.name].__rows__;
                isGroup = item[o.name].isGroup;
                groupIndex = item[o.name].name;
                item[o.name] = item[o.name].data;
            }
        %>
        <td <%if(o.tooltips){%>data-index="<%=index%>" data-tooltips="<%=i%>"<%}if(index == 0){%> class="top" style="width: <%=fn.unit(o.width)%>; min-width: <%=fn.unit(o.minWidth)%>; height: <%=parseInt(rowHeight) * rowSpan + "px"%>;line-height: <%=parseInt(rowHeight) * rowSpan + "px"%>;" node-name="td"<%}else{%>style="height: <%=parseInt(rowHeight) * rowSpan + "px"%>;line-height: <%=parseInt(rowHeight) * rowSpan + "px"%>;"<%}%> rowspan="<%=rowSpan %>">
            <%if(fn.getType(o.renderHTML) == "function"){%>
            <div data-field="<%=o.name%>" class="text<%if(o.itemAlign === "center"){%> center<%}else if(o.itemAlign === "right"){%> right<%}%>">##renderHTML[{name:"<%=o.name%>",cols:<%=i%>,index:<%=index%><%if(groupIndex){%>,groupIndex:'<%=groupIndex%>'<%}%>}]##</div>
            <%}else if(fn.getType(o.render) == "function" && o.color && !(!disabled && (item.__edit__ === true || item.__o_edit__ === true) && o.type)){%>
            <div data-field="<%=o.name%>" class="text<%if(o.itemAlign === "center"){%> center<%}else if(o.itemAlign === "right"){%> right<%}%>" style="color: <%=o.color%>">
                <%if(fn.getType(o.render(item[o.name], item, index)) == "object"){%>
                <%=o.render(item[o.name], item, index).text%>
                <%}else{%>
                <%=o.render(item[o.name], item, index)%>
                <%}%>
            </div>
            <%}else if(fn.getType(o.render) == "function" && !(!disabled && (item.__edit__ === true || item.__o_edit__ === true) && o.type)){%>
            <%if(fn.getType(o.render(item[o.name], item, i)) == "object"){%>
            <div data-field="<%=o.name%>" class="text"<%if(o.render(item[o.name], item, index).color){%> style="color: <%=o.render(item[o.name], item, index).color %>"<%}%>>
                <%=o.render(item[o.name], item, index).text%>
                <%}else{%>
                <div data-field="<%=o.name%>" class="text<%if(o.itemAlign === "center"){%> center<%}else if(o.itemAlign === "right"){%> right<%}%>">
                    <%=o.render(item[o.name], item, index) %>
                    <%}%>
                </div>
                <%}else if(o.type == "order"){%>
                <div data-field="<%=o.name%>" class="text<%if(o.itemAlign === "center"){%> center<%}else if(o.itemAlign === "right"){%> right<%}%>">
                    <%=item.__order__ %>
                </div>
                <%}else{
                    var selectOptions = fn.formatOption(o.options);
                %>
                <div data-field="<%=o.name%>" class="<%if(!disabled && (item.__edit__ === true || item.__o_edit__ === true) && o.type == "select" && selectOptions && selectOptions.length > 0){%>drop-down<%}else{%>text<%}%><%if(o.itemAlign === "center"){%> center<%}else if(o.itemAlign === "right"){%> right<%}%>"<%if(o.color){%> style="color: <%=o.color%>"<%}%>>
                    <%if(!disabled && (item.__edit__ === true || item.__o_edit__ === true) && o.type == "input"){%>
                    <input <%if(fn.getType(o.renderAttr) == "function"){%><%=fn.getAttr(o.renderAttr(item[o.name], item, index)) %><%}%> data-index="<%=index%>" <%if(groupIndex){%>data-group="<%=groupIndex %>"<%}%> data-name="<%=o.name%>" type="text" data-action="number" data-query="type=<%=o.dataType %>" data-value="<%=item[o.name] %>" class="u-input _stopPropagation<%if(fn.getType(o.renderAttr) == "function" && (o.renderAttr(item[o.name], item, index) || {}).disabled){%> disabled<%}%>" value="<%=item[o.name] %>"/>
                    <%}else if(!disabled && (item.__edit__ === true || item.__o_edit__ === true) && o.type == "date"){%>
                    <input data-index="<%=index%>" <%if(groupIndex){%>data-group="<%=groupIndex %>"<%}%> data-name="<%=o.name%>" type="text" data-action="calendar" class="u-date u-input _stopPropagation" readonly="readonly" value="<%if(o.dataType == "date"){%><%=fn.formatDate(item[o.name], o.format)%><%}else{%><%=item[o.name] %><%}%>"/>
                    <%}else if(!disabled && (item.__edit__ === true || item.__o_edit__ === true) && o.type == "time"){%>
                    <input data-index="<%=index%>" <%if(groupIndex){%>data-group="<%=groupIndex %>"<%}%> data-name="<%=o.name%>" type="text" data-action="time" class="u-date u-input _stopPropagation" readonly="readonly" value="<%if(o.dataType == "date"){%><%=fn.formatDate(item[o.name], o.format)%><%}else{%><%=item[o.name] %><%}%>"/>
                    <%}else if(!disabled && (item.__edit__ === true || item.__o_edit__ === true) && (o.type == "radio" || o.type == "checkbox") && selectOptions && selectOptions.length > 0){%>
                    <%selectOptions.forEach(function(sItem){%>
                    <label class="child-<%=o.type %>">
                        <input class="_stopPropagation" data-action="<%=o.type %>" value="<%=sItem.key %>" name="<%if(o.type == "radio"){%>grid_<%=index %>_<%=i %><%}else if(o.type == "checkbox"){%><%=o.name%><%}%>" type="<%=o.type %>" <%if(sItem.key == item[o.name] || (item[o.name] && item[o.name].indexOf && item[o.name].indexOf(sItem.key) != -1)){%>checked="checked"<%}%>  data-index="<%=index%>" <%if(groupIndex){%>data-group="<%=groupIndex %>"<%}%> data-name="<%=o.name%>"/>
                        <i class="child-icon-<%=o.type %> _stopPropagation"></i>
                        <span class="_stopPropagation"><%=sItem.val %></span>
                    </label>
                    <%})%>
                    <%}else if(!disabled && (item.__edit__ === true || item.__o_edit__ === true) && o.type == "select" && selectOptions && selectOptions.length > 0){var optionSize = selectOptions.length;%>
                    <div class="select-group">
                        <i class="icon"></i>
                        <%selectOptions.forEach(function(sItem, sIndex){%>
                        <%if(sItem.key == item[o.name]){%>
                        <input type="text" data-index="<%=index %>" <%if(groupIndex){%>data-group="<%=groupIndex %>"<%}%> data-name="<%=o.name %>" data-action="showSelect" value="<%=sItem.val %>" data-key="<%=item[o.name] %>" readonly="readonly" class="select _stopPropagation"/>
                        <%return false;}else if(sIndex == optionSize - 1){%>
                        <input type="text" data-index="<%=index %>" <%if(groupIndex){%>data-group="<%=groupIndex %>"<%}%> data-cols="<%=i %>" data-name="<%=o.name %>" data-action="showSelect" value="<%if(o.selectIndex && o.options[o.selectIndex]){%><%=selectOptions[o.selectIndex].val %><%}else{%><%=item[o.name] %><%}%>" data-key="<%=item[o.name] %>" readonly="readonly" class="select _stopPropagation"/>
                        <%return false;}%>
                        <%})%>
                        <ul class="items hide" style="height: <%=Math.min(120, optionSize * 31)%>px;" data-offset="<%=Math.min(120, optionSize * 31 -1) %>">
                            <%selectOptions.forEach(function(sItem){%>
                            <li class="_stopPropagation" data-type="grid" data-key="<%=sItem.key %>" data-action="select"><%=sItem.val %></li>
                            <%})%>
                        </ul>
                    </div>
                    <%}else{%>
                    <%if(o.dataType == "date"){%>
                    <%=fn.formatDate(item[o.name], o.format)%>
                    <%}else if(fn.getType(o.buts) == "array"){
                    o.buts.forEach(function(v, butIndex){
                        if(fn.getType(v.filter) === "function" && v.filter(item[o.name], item, index) !== true) return;
                        var textName = v.text;
                        var eventName = v.id;
                        var textIndex = fn.getType(v.index) == "array" ? v.index[index] : 0;
                        if(fn.getType(v.text) == "array"){
                            textName = v.text[textIndex];
                            eventName = v.id +"%" + textIndex + "%" + butIndex + "%" + i + "%";
                        }
                    %>
                    <a href="javascript:void(0)" <%if(fn.getType(v.data) == "object"){%>data-query="<%=JSON.stringify(v.data)%>"<%}%> data-event="<%=eventName %>" title="<%=textName %>"><%=textName %></a>
                    <%})}else if(fn.getType(o.click) == "object"){%>
                    <a href="javascript:void(0)" <%if(fn.getType(o.click.data) == "object"){%>data-query="<%=JSON.stringify(o.click.data)%>"<%}%> data-event="<%=o.click.id%>" title="<%=item[o.name]%>"><%=item[o.name]%></a>
                    <%}else{%>
                    <%=item[o.name]%>
                    <%}%>
                    <%}%>
                </div>
                <%}%>
        </td>
        <%})%>
        <%if(item[groupName] && dataGroup){loadCode(item[groupName], true, index);}%>
        <%})%>
        <%};loadCode(resourse);%>

</table>