<div class="grid-title" node-name="gridTitle">
    <div class="grid-header hide" node-name="gridHeader">
        <%if(order === true){%><div class="order td rows" data-rows="<%=totalCols[0].rows%>" style="height: <%=fn.unit(titleHeight) %>; line-height: <%=fn.unit(titleHeight) %>;">&nbsp;</div><%}%>
        <%if((selectType == "checkbox" || selectType == "radio") && selectStatus == "show"){%>
        <div class="<%=selectType %> td rows<%if(order === true){%> has-order<%}%>" data-rows="<%=totalCols[0].rows%>" style="height: <%=fn.unit(titleHeight) %>; line-height: <%=fn.unit(titleHeight) %>;">
            <%if(selectType == "checkbox"){%>
            <label><input node-name="totalCheckbox" type="checkbox" data-type="top" data-action="checkbox"/><i class="icon-checkbox"></i></label>
            <%}else{%>
            &nbsp;
            <%}%>
        </div>
        <%}%>
         <%var eachCode = function(arr, bool){
        arr.forEach(function(item, index){
        %>
        <div style="height: <%=fn.unit(titleHeight) %>; line-height: <%=fn.unit(titleHeight) %>;" data-rows="<%=item.rows%>" <%if(index == arr.length - 1 && bool){%>data-last="true"<%}%> <%if(item.group && item.group.length > 0){%> data-child="true" data-cols="<%=item.group.length%>"<%}else{%> data-cols="1"<%}%> class="td rows<%if(item.group){%> cols<%}else{%> end<%}%>" data-index="<%=index%>">
        <%if(fn.getType(item.group) == "array" && item.group.length > 0){%>
        <div <%if(item.topRows){%>data-rows="<%=item.topRows %>"<%}else{%>style="height: <%=fn.unit(titleHeight) %>; line-height: <%=fn.unit(titleHeight) %>;"<%}%> class="td cols" data-cols="<%=item.group.length%>">
            <div title="<%=item.display %>" class="text<%if(item.align){%> <%=item.align%><%}%>"><%=item.display%></div>
        </div>
        <%
        eachCode(item.group, true);
        }else{%>
            <div class="text<%if(item.align){%> <%=item.align%><%}%>" data-field="<%=item.name %>" data-action="grid-title-item">
                <span title="<%=item.display%>" class="display<%if(autoCal){%> display_cal<%}%><%if(item.sort){%> display_sort<%}if(fn.getType(item.tips) == "string"){%> display_tips<%}%><%if(fieldMap[item.name].sort){%> bold<%}%>"><%=item.display%></span>
                <%if(item.sort){%>
                <span class="sort">
                    <i <%if(fieldMap[item.name].sort_id && fieldMap[item.name].sort === 'asc'){%>id="<%=fieldMap[item.name].sort_id %>"<%}%> class="asc<%if(fieldMap[item.name].sort === 'asc'){%> checked<%}%>" node-name="sort" data-index="<%=fieldMap[item.name].index %>" data-name="<%=item.name%>"  data-type="1" title="升序排列"></i>
                    <i <%if(fieldMap[item.name].sort_id && fieldMap[item.name].sort === 'desc'){%>id="<%=fieldMap[item.name].sort_id %>"<%}%> class="desc<%if(fieldMap[item.name].sort === 'desc'){%> checked<%}%>" node-name="sort" data-index="<%=fieldMap[item.name].index %>" data-name="<%=item.name%>" data-type="-1" title="降序排列"></i>
                </span>
                <%}%>
                <%if(fn.getType(item.tips) == "string"){%><span class="tips" node-name="tips" data-tips="<%=item.tips %>"><i class="hover-tips iconfont icon-wenhao1"></i></span><%}%>
	            <%if(autoCal){%><div class="calculate"><i title="<%if(fieldMap[item.name].title){%><%=fieldMap[item.name].title %><%}else{%>启动自动计算<%}%>" data-field="<%=item.name%>" data-type="<%if(fieldMap[item.name].autoType){%><%=fieldMap[item.name].autoType %><%}else{%>start<%}%>" data-index="<%=fieldMap[item.name].index %>" data-action="calculate" class="iconfont icon-jisuanqi"></i></div><%}%>
            </div>
            <div class="move" data-action="move">&nbsp;</div>
        <%}%>
        </div>
        <%
        })};
        eachCode(totalCols);
        %>
    </div>
    <table class="table" node-name="title" style="width: <%=fn.unit(width)%>">
        <tr node-name="items" class="def-tr">
            <%if(order === true){%><td class="checkbox">&nbsp;</td><%}%>
            <%if((selectType == "checkbox" || selectType == "radio") && selectStatus == "show"){%>
            <td class="<%=selectType %>"><%if(selectType == "checkbox"){%><input type="checkbox" data-type="top" data-action="checkbox"/><%}else{%>&nbsp;<%}%></td>
            <%}%>
            <% columns.forEach(function(item, index){%>
            <td data-index="<%=index%>"><div class="text"><%=item.display %></div></td>
            <%})%>
        </tr>
    </table>
</div>
<ul class="grid-select hide" node-name="gridSelect"></ul>
<div class="grid-cont" node-name="gridCont"></div>
<%if(tooltip === true){%>
<div class="grid-hover hide" node-name="gridHover">
    <ul class="hover-items" node-name="hoverItems"></ul>
</div>
<%}%>
<div class="grid-tips hide" node-name="gridTips"></div>
<div class="grid-page" <%if(!show){%>style="height: 0; overflow: hidden;"<%}%> node-name="gridPage">
    <span class="text">每页显示</span>
    <div class="select-group">
        <i class="icon"></i>
        <input type="text" value="<%=pageSize%>" data-action="showSelect" data-type="other" node-name="pageSize" readonly="readonly" class="select"/>
        <ul class="items up">
            <%pageList.forEach(function(item){%>
            <li data-action="select" data-type="page"><%=item%></li>
            <%})%>
        </ul>
    </div>
    <a href="javascript:void(0)" class="first" node-name="first"><i></i></a>
    <a href="javascript:void(0)" class="prev" node-name="prev"><i></i></a>
    <span class="total" node-name="total">1&nbsp;/&nbsp;1</span>
    <a href="javascript:void(0)" class="next" node-name="next"><i></i></a>
    <a href="javascript:void(0)" class="last" node-name="last"><i></i></a>
    <div class="page">
        第<input type="text" value="<%=curPage%>" data-query="type=number&name=page" data-action="number" node-name="page"/>页
    </div>
    <a href="javascript:void(0)" class="goTo" node-name="btn"><i></i>跳转</a>
    <span class="total-text" node-name="text">当前0到0条，总共0条</span>
    <a href="javascript:void(0)" class="change hide">调整列</a>
    <%if(autoCal){%><a href="javascript:void(0)" class="auto-width" node-name="autoWidth">启动自动计算</a><%}%>
</div>
<div class="grid-bottom-scroll hide" node-name="gridBottomScroll">
    <div class="scroll-bg" node-name="scrollBottomBg"><div node-name="bottomScrollTool" class="scroll-tool"></div></div>
</div>
<div class="grid-right-scroll hide" node-name="gridRightScroll">
    <div class="scroll-bg" node-name="scrollRightBg"><div node-name="rightScrollTool" class="scroll-tool"></div></div>
</div>