<%if(type === "save"){%>
    <%data.forEach(function(item){%>
        <li class="item">
            <a href="javascript:void(0);" class="fl blue limit" data-action="uriTo" data-id="<%= item.id %>"  data-appId="<%=item.appId%>" data-query="uri=<%= item.uri %>" data-enabled = "<%=item.effective%>"><%=item.title%></a>
            <a class="fr" href="javascript:void(0);" data-id="<%= item.id %>"  data-action="deleteSaves">删除</a>
        </li>
    <%})%>
<%}else{%>
    <%data.forEach(function(item){%>
    <li>
        <a href="javascript:void(0);" data-id="<%=item.id%>" class="fl" ><%=item.title%></a>
        <a class="fr" href="javascript:void(0);" node-name="delete"><%=item.date%></a>
    </li>
    <%})%>
<%}%>