<% list.forEach(function(item) { %>
    <a node-name="item" data-query="id=<%=item.id%>&text=<%=item.text%>&flag=<%=item.flag%>" href="#/<%=item.flag%><%=item.home%>"><i class="icon-<%=item.flag%>"></i><%=item.text%></a>
<% }) %>