<% if(msgList && msgList.length > 0){ %>
    <% msgList.forEach(function(item) { %>
    <li class="item setRed" node-name="list" data-action="viewMsg" data-type="<%= item.type %>" data-query="id=<%= item.id %>">
            <a href="javascript:void(0);">
                <p class="fl">
                    <span><%= item.title %></span>
                </p>
                <div class="fu" style="margin-left: 15px;">
                    <%= item.fromUserName %>
                </div>
                <span class="fr"><%= item.sendTime %></span>
            </a>
        </li>
    <% }) %>
<% } %>
<!-- <li class="tc" node-name="allMsgs">查看全部</li> -->
<!-- <li class="tc" node-name="noMsg">暂无信息！</li> -->